

header{
    background-color: rgb(165, 249, 216);
    padding: 20px;
}
h1{
    font-size: 24px;
    font-weight:500;
}

main{
    margin-left:15px;
}

h2{
font-size:17px;
}

section{
    border: 1px dotted black;
    padding:17px;
}

#rectangleSection{
    display:flex;
    flex-direction: row;
    justify-content: baseline;
}

#purpleBox{
    height:50px;
    width:100px;
    background-color: rgb(66, 31, 122);
    border: 2px solid rgb(228, 61, 48);
    margin-right: 17px;
}

#blueBox{
    height:50px;
    width:50px;
    background-color: rgb(2, 62, 238);
    box-shadow: 4px 4px 3px black;
    margin-right: 17px;
}

#pinkBox{
    height: 100px;
    width: 100px;
    background-color: rgb(202, 121, 147);
    border: 1px solid black;
}

#snowmanContainer{
    width: 130px;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items:center;
    clear: inherit;
}

.snowBall{
    border: 1px solid black;
    border-radius: 100%;
    
}

#snowTop{
    width:40px;
    padding: 10px
}

#snowMiddle{
    width:27px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
}

#snowBottom{
    width: 50px;
    padding-top:22px;
    padding-bottom:22px;
    padding-left:40px;
    padding-right:40px;

}

#beigeBox{
    width: 180px;
    height: 180px;
    background-color: rgb(245, 244, 224);
    border: 1px solid black;
}

#greenCircle{
    width: 130px;
    height: 130px;
    background-color: rgb(61, 122, 43);
    border: 1px solid black;
    border-radius: 100%;

}

#fishTank{

    width: 70%;
    height: 70%;
    
    background-color: rgb(150, 56, 51);
    margin-top: 23px;
    margin-left: 25x;
    align-self: center;
    align-items: center;
    color: white;
    font-size: smaller;
    text-align: center ;
    margin-left: 19px;
}

#blueCircle{
    height: 80%;
    width: 80%;
    background-color: rgb(2, 62, 238);
    border-radius: 100%;
}